body{
    text-align: center;
}
#cont{
    box-shadow: 0px 0px 12px 3px;
    margin: 5px;
}
#heading{
    color: indigo;
    font-size: 40px;
    font-family: cursive;
}

nav{
    background-color: darkkhaki;
    
}
nav a{
    color: black;
 padding: 10px;   
 font-size: 25px;
 font-family: cursive;
}
nav a:hover{
    text-decoration: none;
}
header{
    color: orange;
    font-size: 30px;
    font-family: fantasy;
    padding: 10px;

}
footer{

    background-color: lightgray;
    margin-top: 20px;
}
/* Contact */
#Contact form{

    box-shadow: 0px 0px 10px 2px;
    width: 500px;
    margin: 0px auto;
    padding: 10px;
}

#Contact form input{
    background-color: lightgrey;
    width: 80%;
    border-radius: 6px;
}

#Contact form textarea{
    background-color: lightgrey;
    width: 80%;
    border-radius: 6px;
}

#Contact form label{
    font-family: cursive;
    font-size: 20px;
    padding: 5px;
}
/* About */
#About #profile{
padding: 10px;
float: right;
width: 30%;
}
#About #description{
padding:10px;
clear: both;

}
#About #pro-img{
    width:70%;
    float:left;
}
 h2{
    color:dodgerblue;
    font-size: 25px;
font-family: cursive;
}  

/* Sidebar */

#sidebar.active{
    margin-left: -250px;
}
#side{
    align-items:strech;
    display: -webkit-box;
    
    float: left;
}
#sidebar{
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

}